/*:root {
    --sides-bg-color: #f8fafc;
    --sides-color: #e77816;
    --bars-main-color: #404040;
    }
*/
/*
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fa-solid-900.eot?v=5.3.1');
  src: url('fonts/fa-solid-900.eot?#iefix&v=5.3.1') format('embedded-opentype'), url('fonts/fa-solid-900.woff2?v=5.3.1') format('woff2'), url('fonts/fa-solid-900.woff?v=5.3.1') format('woff'), url('fonts/fa-solid-900.ttf?v=5.3.1') format('truetype'), url('fonts/fa-solid-900.svg?v=5.3.1#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

.webix_message_area{width: 600px;}

/*http://webix.com/skin-builder/15f2c99c*/

.realy_header {
    /*background-color: var(--sides-bg-color) !important;*/
    background-color: #f8fafc !important;
    /*border-bottom: 1px solid var(--sides-bg-color);*/
    border-bottom: 1px solid #f8fafc;
    border-top: 0px;
    margin-top: 0 !important;
    /*color: var(--bars-main-color) !important;*/
    color: #404040 !important;
    }

.table_row_light {
    color: grey;
    }

.header {
    background-color: transparent !important;
    border-bottom: 1px solid #ffffff;
    border-top: 0px;
    margin-top: 0 !important;
    /*color: var(--bars-main-color) !important;*/
    color: #404040 !important;
    }

.webix_view {
    /*border: None;*/
    }

.footer {
    background-color: transparent !important;
    border-bottom: 1px solid #ffffff;
    border-left: 0px;
    border-top: 0px;
    margin-top: 0 !important;
    /*color: var(--bars-main-color) !important;*/
    color: #404040 !important;
    }

.side_tool_bar {
    /*background-color: var(--sides-bg-color) !important;*/
    background-color: #f8fafc !important;
    /*border-bottom: 1px solid var(--sides-bg-color);*/
    border-bottom: 1px solid #f8fafc;
    border-top: 0px;
    margin-top: 0 !important;
    /*color: var(--bars-main-color) !important;*/
    color: #404040 !important;
    }

.side_icon {
    /*color: var(--sides-color) !important;*/
    color: #e77816;
    }

.button_label {
    line-height: 20px; 
    padding-left: 5px;
    margin-left: -5px;
    float: left;

}

.custom_tool_bar {
    margin-left: -1px !important;
    }


.ms-logo {
    width: 36px;
    height: 36px;
    margin-top: -3px;
    display: block;
    background-repeat: round;
    }

.ms-logo-text {
    color: black !important;
    font-size: 15px !important;
}

.margin-zero {
    margin-top: 0 !important;
    }

:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0 !important;
    }

button {
    text-transform: uppercase !important;
    font-weight: 600 !important;
    }

.webix_el_button button {
    border-width: 2px; 
    border-color: transparent !important;
    }

button:hover {
    border-color: #dddddd !important;
}

.webix_input_icon.fa-angle-down {
    background-color: #e6e6e6 !important;
    }

.borders {
    border-left: 1px solid #3498db !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    }

.webix_layout_toolbar {
    border: 1px solid transparent !important;
    }

.right {
    text-align: right;
    }

.small {
    color: #666666;
    }

.comboList {
    word-break: break-all;
    }

.webix_list_item {
    padding-left: 8px !important;
    padding-right: 8px !important;
    }

.dt_css {
    color: black;
    }

.webix_view.webix_dtable {
    color: black;
    font-size: 120%;
    }

.webix_view.webix_control.webix_el_datepicker.margin18 {
    margin-top: 18px;
    }

.my_filter select,
.my_filter input {
      width: 100%;
      font-size: inherit;
      color: #666666 !important;
      /*margin-top: -2px;*/
      margin-top: 5px;
      padding: 0 3px;
      vertical-align: top;
      border: 1px solid #dddddd;
      line-height: 24px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      /*height: 70%;
      vertical-align: middle;*/
      border-radius: 6px;
    }


.my_filter select {
  padding: 3px;
}

.barcode{
    overflow: hidden;
    float: left;
}
.butt1{
    float:right;
}

.center_p {
    text-align: center !important;
    }

.lay_pg {
    background-color: #3498db;
    }

.p_center_p {
    margin-left: -5px !important;
    text-align: center !important;
    }

.c-radio {
    margin-top: 6px !important;
    }

.webix_el_combo input{
    color: black;
    }

.webix_el_text input {
    color: black;
    font-size: 120%;
    }

.raw_text input{
    color: black;
    font-size: 100%;
    }

.raw_page input{
    text-align: center !important;
    color: black;
    font-size: 100%;
    }

.webix_el_combo span.webix_input_icon {
    color: #666666;
    }

.webix_el_richselect span.webix_input_icon {
    color: #666666;
    }

.webix_item_tab {
    background-color: #d2e3ef;
    color: #7a7a7a;
    font-size: 95%;
    }
    
div.webix_item_tab {
    border-color: #d2e3ef;
    }

.webix_ss_filter select {
    background-color: white;
    }
    
.webix_after_all_tabs {
    height: 5px !important;
    }

.webix_cell.webix_dtable_colrow.webix_topcell.webix_selected {
    color: black;
    }

.webix_view.webix_form.webix_layout_form.no_border {
    border-width: 0px !important;
    }
    
.webix_slider_title.webix_slider_move {
    color: white !important;
    }

.webix_event {
  font-size: 12px;
  color: #000;
  padding: 0px;
  border-radius: 3px;
  background-color: #d2e3ef;
  border: 1px solid #d2e3ef;
  box-shadow: 0px 0px 10px #175782;
}

.webix_event div {
  background-color: #d2e3ef;
  border: 1px solid #3498db;
  color: #000;
  }

.webix_success {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  padding: 0px;
  border-radius: 3px;
  background-color: #15c15d;
  border: 1px solid #15c15d;
  box-shadow: 0px 0px 10px #175782;
}

.webix_success div {
  background-color: #15c15d;
  border: 1px solid #3498db;
  color: #fff;
  }

.sublist .webix_list_item {
    line-height: 32px;
    }

.sublist .webix_selected {
    background-color: #15c15d;
    line-height: 32px;
    }

.webix_view > .webix_disabled {
    position: inherit;
    }
    
.webix_la_icon,
.la {
  display: inline-block;
  font-family: LineAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.highlighted {
    color: red;
    }

.nothing {
    }

.c-label {
    text-align: center;
    /*color: black;*/
    text-transform: uppercase;
    }

.check:hover{
    color:red !important;
}

.webix_custom_checkbox:hover {
    border-color:red;
}

.highlited {
    font-weight: bolder;
    font-style: italic;
    color: black;
}

.shadow {
    color: lightgrey;
}

.flag {
    background-repeat: no-repeat !important; 
    background-position: center center !important;
    color: transparent !important;
}

.edit_button {
    opacity: 0;
    border: 0px !important;
    width: 30px !important;
    height: 30px !important;
    background:transparent;
}

.dt_hover:hover .right_col_2{
    width: 80%;
    margin-left: 0px;
    -webkit-transition: margin-left 0.5s; 
    transition: margin-left 0.5s;
}

.dt_hover:hover .right_col_1 {
    width: 80%;
    margin-left: 0px;
    -webkit-transition: margin-left 0.5s; 
    transition: margin-left 0.5s;
}

.dt_hover:hover .edit_button {
    opacity: 1;
    -webkit-transition: opacity 0.5s; 
    transition: opacity 0.5s;
}

.delete_button {
    opacity: 0;
    border: 0px !important;
    width: 30px !important;
    height: 30px !important;
    background:transparent;
}

.dt_hover:hover .delete_button {
    opacity: 1;
    -webkit-transition: opacity 0.5s; 
    transition: opacity 0.5s;
}

.webix_el_button.posi {
    float: left;
    padding-top: 0px;
}

.right_col_1 {
    padding-left: 5px;
    width: 85%;
    text-overflow: clip;
    /*white-space: nowrap;*/
    margin-left: -30px;
    float: left;
}

.right_col_2 {
    padding-left: 5px;
    width: 85%;
    text-overflow: clip;
    /*white-space: nowrap;*/
    margin-left: -60px;
    float: left;
}

.image20x20 {
    width:20px;
    height:20px
}

.adm-spr > .webix_ss_vscroll.webix_vscroll_y, .webix_ss_vscroll_header, .webix_ss_vscroll_footer {
    width: 0px !important;
    /* overflow-y: auto;
    overflow-x: auto; */
}

.vscroll {
    margin-left: -3px !important;
}

.adm-spr{
    color: black;
}

.scroll-tooltip {
    position:fixed;
    right:18px;
    top:0;
    display:none;
    width:4em;
    height:1.2em;
    background:black;
    font-size:18px;
    color:white;
    text-align:center;
}

.threeSt-indeterminate {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gcCCSwfRyGesAAAAAxpVFh0Q29tbWVudAAAAAAAvK6ymQAAAExJREFUKM9jLCgo+M9AAmBhYGBgaGtrY+Tk5MSrsLCwkIGBgeE/EwOJgGQNLMgcJSUlBgYGBnQ/Md67d498G+jsB6hbGQfWSYykJg0AUMsPVoNrFX0AAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 13px;
    /* display: inline-block; */
    /* overflow: hidden; */
    
    /* vertical-align: middle; */
    /* margin-top: 0 !important; */
  }

.header-button {
    margin-left: 4px;
    margin-top: 2px;
    width:25px;
    height:75%;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    padding-left: 4px;
    color: lightgray;
}

.header-button-highlited {
    color: red;
}


.header-checkbox {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 9px;
}

.counter-dt {
    text-align: center;
    color: #15c15d;
}

.cell-highlighted {
    /* opacity: 0.5; */
    background-color: #d4efdf;
}

.pop-up-menu {
    background: #f4f5f9 /*!important*/;
    opacity: 0.9;
    border: 1px solid #0e86fe;
    border-radius: 10px;
}

.multiview-header {
    line-height: 20px;
    padding-left: 3px;
}

.webix_badge {
    color: red;
    background-color: transparent;
    top: 0% !important;
    margin-top: 4px !important;
    margin-right: 0px !important;
}

.lowlighted {
    color: lightgrey;   
}

.darklighted {
    color: grey;
}

.info>div>input {
    border: none;
    background-color: #f8fafc !important;
}

.info>.webix_el_box input:focus {
    border: None;

}


.address_book_icon {
    /*color: var(--sides-color) !important;*/
    color: #3498db;
    font-size: larger;
}


