<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <link href="addons/img/favicon.ico" rel="shortcut icon">
    <title1>Связки и эталоны</title1>
    <title><%= HtmlWebpackPlugin.options.title %></title>


    <link type="text/css" rel="stylesheet" href="libs/webix/webix.css?v=<%= HtmlWebpackPlugin.options.title %>">
    <link type="text/css" rel="stylesheet" href="myapp.css?v=<%= HtmlWebpackPlugin.options.v %>">

    <!-- Webix Library-->
    <script type="text/javascript" src="libs/webix/webix.js?v=<%= HtmlWebpackPlugin.options.v %>"></script>
    <script type="text/javascript" src="libs/webix/skin.js?v=<%= HtmlWebpackPlugin.options.v %>"></script>
    <script type="text/javascript" src="libs/webix/tinymce.js?v=<%= HtmlWebpackPlugin.options.v %>"></script>
    <!-- The app's logic -->
    <!--<script type="text/javascript"  src="addons/md5.js"></script> -->
    <script type="text/javascript"  src="myapp.js?v=<%= HtmlWebpackPlugin.options.v %>"></script>


</head>
<body></body>
</html>